*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.loading{
  position:fixed;
  width: 100%;
  height: 100vh;
  background:#fff url('https://cdn.dribbble.com/users/645440/screenshots/3162915/shopping-loader.gif') no-repeat center;
  z-index:9999;
}

#page{
    display: flex;
    flex-direction: column;
    gap:10px;
}

/* #navbar{
    border:2px solid black;
    height:350px;
    text-align: center;
    background-color: navy;
    color: white;
    font-style: italic;
    font-size: large;
}
#navbar>div{
  margin-top:150px;
  font-size: 40px;
} */

#category_nav{
    
    height:100px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-left:328px;
    margin-bottom: 5px;
    align-items: center;
     
}
#category_nav>h4{
  font-size: 25px;
}
#category_nav>select{
height: 50px;
 border-radius: 2px;
font-size: 15px;
color:Black;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
#category_text{
  font-style: italic;
  margin-left: 15px;
}


#product{
     
   width: 95%;
   margin: auto;
    display:flex;
    gap:10px;
}
#slidebar{
    
    height:1000px;
    width:20%;

}
#main_product{

    width: 90%;
}
/* #front_filter{
    border:3px solid navy;
    height:100px;

} */
#show_product{
  
     width:95%;
     margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:25px;
}
#card{
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  width:100%;
  text-align:start;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0 0.25rem 0.25rem 0 #ececec; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}
#card:hover{
  
  transform:scale(1.05);
  cursor: pointer;
}
#price_parent{
  display: flex;
  gap: 6px;
  text-align: center;
  align-items:baseline;
  margin-top:-5px;
  font-size:.8500rem;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0;
  margin-left:10px;
  margin-right: 10px;
}

#parent_img{
  
  overflow: hidden;
}
#price_parent>
#discount{
  color:#FF6B35;
  
  font-size:.8500rem;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0;
   
}
#description{
  font-size:.8500rem;
  font-weight: 300;
  color: grey;
  margin-left:10px;
  margin-right: 10px;
}
#title{
  text-transform: capitalize;
  margin-top: 5px;
  font-weight: 500;
  line-height: 1.5;
  color: #000;
  letter-spacing: .03125rem;
  text-align: left;
  font-stretch: normal;
  font-style: normal;
  font-size:1.01rem;
  margin-left:10px;
  margin-right: 10px;
}
#striked_price{
  text-decoration: line-through;
  color: grey;
  font-size:.8500rem;
}

/* for css of slidbare */ 


.multiselect {
    width: 90%;
    margin:auto;
    margin-top: 10px;
    
  }
  
  .selectBox {
    position: relative;
     
    
  }
  #filter_heading{
    font-style: italic;
    text-align: center;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
    
    
  }
  span{
    margin-left: 5px;
    
  }
  
  .selectBox select {
  
    
    border-right: none;
    border-left: none;
    border-bottom: none;
    font-size: .75rem;
    letter-spacing: .03125rem;
    font-weight: 700;
    line-height: 1.33;
    cursor: pointer;
    margin-right: .625rem;
    margin-bottom: .75rem;
    color: #333;
    text-transform: uppercase;
    padding: 10px;
    width: 100%;
    margin-top: 30px;

    
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
     
  }
  
  #checkboxes1,#checkboxes2,#checkboxes3,#checkboxes4,#checkboxes5{
    display:none;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  */
    font-size: .75rem;
    letter-spacing: .03125rem;
    font-weight: 700;
    line-height: 1.33;
    cursor: pointer;
    margin-right: .625rem;
    margin-bottom: .75rem;
    color: #333;
    text-transform: uppercase;
   border-right: 2px solid black;
   border-bottom:1px solid grey;
   width: 100%; 
  }
    
   
  
#sort_by{
  color: #777777;
   background-color: white;
   border-radius: 0;
   text-transform: capitalize;
   height:30px;
    
   width: 25%;
  font-family:Arial, Helvetica, sans-serif;
  
   
   
  
}
#sort_up{
  display:none;
 }

  
  #checkboxes1 label {
    display: block;
    margin: 10px;
   
    
  }
  #checkboxes2 label {
    display: block;
    margin: 10px;
   
    
  }
  #checkboxes3 label {
    display: block;
    margin: 10px;
   
    
  }
  #checkboxes4 label {
    display: block;
    margin: 10px;
   
    
  }
  #checkboxes5 label {
    display: block;
    margin: 10px;
   
    
  }

  
   
  .filter{
    display: inline;
    margin-left: 5px;
    font-size: .85rem;
  }
   .box{
    cursor: pointer;
   }
  #mens_filter{
    font-style: italic;
    text-align: center;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 30px;
    margin-right: 15px;
  }

  @media screen and (min-width: 750px) and (max-width: 1000px) {

   #show_product{
    grid-template-columns: repeat(3,1fr);
    
   }
   #slidebar{
    display: none;
   }
   #sort_by{
    display: none;
   }
   
    #category_text{
      display: none;
    }
    
    #show_product{
      width: 100%;
       
    }
    #main_product{
      width:100%;
      display:block;
      display: block;
    }
    #product{
      width:100%;
      display:block;
      display: block;
    }
    #container{
      width:100%;
    }
    body{
      width: 200%;
      display:block;
      display: block;
    }
    #sort_up{
      display: block;
      width: 100%;
      background-color: blue;
      color: white;
      height: 50px;
      text-align: center;
      font-size: medium;
      border-radius: 5px;
     position: sticky;
     bottom:0px;
      
    }
   
    #title,#description{
      font-size: 2rem;
    }
    #price_parent>h6{
      font-size: 2rem;

    }
    #striked_price{
      font-size: 2rem;

    }
    #price_parent>#discount{
      font-size: 2rem;

    }
    
    
    
   

  }

  @media screen and (min-width: 560px) and (max-width: 749px) {

    #show_product{
      grid-template-columns: repeat(2,1fr);
     }
     #slidebar{
      display: none;

      margin:0px;
     }
     #sort_by{
      display: none;
      margin:0px;
     }
     #category_text{
      display: none;
      margin:0px;
    }
    #show_product{
      width: 100%;
      margin:auto;
    }
    #main_product{
      width:100%;
      margin:auto;
      display:block;
    }
    #product{
      width:100%;
      margin:auto;
      display:block;
    }
    #container{
      width:100%;
      margin:auto;
    }
    body{
      width: 200%;
      margin:auto;
      display:block;
    }

    #sort_up{
      display: block;
      width: 100%;
    }
    
    
    #sort_up{
      display: block;
      width: 100%;
      background-color: blue;
      color: white;
      height: 50px;
      text-align: center;
      font-size: medium;
      border-radius: 5px;
      position: sticky;
      bottom:0px;
      margin:auto;
      
    }
    #sort_up option{
      width: 100%;
    }
    #title,#description{
      font-size: 2rem;
    }
    #price_parent>h6{
      font-size: 2rem;

    }
    #striked_price{
      font-size: 2rem;

    }
    #price_parent>#discount{
      font-size: 2rem;

    }
  
  }
  @media screen and (min-width: 310px) and (max-width: 559px) {

    #show_product{
      grid-template-columns: repeat(1,1fr);
     }
     #slidebar{
      display: none;
      margin:0px;
     }
     #sort_by{
      display: none;
      margin:0px;
     }
     #category_text{
      display: none;
      margin:0px;
    }
     
    #show_product{
      width: 100%;
      margin:auto;
       
    }
    #main_product{
      width:100%;
      margin:auto;
      display:block;
    }
    #product{
      width:100%;
      margin:auto;
      display:block;
    }
    #container{
      width:100%;
      margin:auto;
      display: block;
    }
    body{
      width: 200%;
      margin:auto;
      display:block;
       
    }
    #sort_up{
      display: block;
      width: 100%;
    }
    
    #sort_up{
      display: block;
      width: 100%;
      background-color: blue;
      color: white;
      height: 50px;
      text-align: center;
      font-size: medium;
      border-radius: 5px;
      position: sticky;
      bottom:0px;
      margin:auto;
      
    }
    #sort_up option{
      width: 100%;
      margin:auto;
    }
    #title,#description{
      font-size: 2rem;
    }
    #price_parent>h6{
      font-size: 2rem;

    }
    #striked_price{
      font-size: 2rem;

    }
    #price_parent>#discount{
      font-size: 2rem;

    }

  }

  @media screen and (min-width: 1px) and (max-width: 309px) {

    #show_product{

      grid-template-columns: repeat(1,1fr);

     }

     #slidebar{
     
      display: none;
      margin:0px;
     
     }

     #sort_by
     {

      display: none;
      margin:0px;

     }
     #category_text{

      display: none;
      margin:0px;

    }
    #show_product{
      width: 100%;
      margin:auto;
    }
    #main_product{
      width:100%;
      margin:auto;
      display:block;
    }
    #product{
      width:100%;
      margin:auto;
      display:block;
    }
    #container{
      width:100%;
      margin:auto;
    }
    body{
      width: 200%;
      margin:auto;
      display:block;
    }
    
     
    #sort_up{
      display: block;
      width: 100%;
    }
    #sort_up{
      display: block;
      width: 100%;
      background-color: blue;
      color: white;
      height: 50px;
      text-align: center;
      font-size: medium;
      border-radius: 5px;
      position: sticky;
      bottom:0px;
      margin:auto;
    }
    #sort_up option{
      width: 100%;
      margin:auto;
    }
    #title,#description{
      font-size: 2rem;
    }
    #price_parent>h6{
      font-size: 2rem;

    }
    #striked_price{
      font-size: 2rem;

    }
    #price_parent>#discount{
      font-size: 2rem;

    }

  }
 





