/* #thank{
    width: 100%;
    height: 100%;
    color: black;
    margin: auto;
  } */
  *{
    font-family: sans-serif;
  }
  #mainDiv{
    position:fixed;
  width: 100%;
  height: 100vh;
  background:#fff url('https://thumbs.gfycat.com/GracefulImpishFlea-size_restricted.gif') no-repeat center;
  /* background:#fff url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlXIdzx_cBcSckyVDz1DbYrccygAw_bffc2Q&usqp=CAU') no-repeat center; */
  z-index:9999;
  }
  #thnq{
    width: 40%;
    height: 50%;
    background-color: #b6b2b2;
    margin: auto;
    margin-top: 9%;
  }
  #thnq img{
    width: 100vh;
    height: 100vh;
    margin: auto;
  }
  #thnq div{
    margin-left: 10%;
  }
  body{
    background-color: #b6b2b2;
  }
  #thankmsg{
    padding-top: 15px;
    margin-top: -10px;
    width: 63%;
    height: 80%;
    background-color: white;
    text-align: center;
    padding-bottom: 10px;
  }
  #thankmsg :first-child{
    font-weight: 600;
    font-size: 18px;
  }
  #thankmsg :nth-child(2) a{
    color: black;
    font-size: 18px;
  }