*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 #main a{
  text-decoration: none;
 }
 #main1 a{
  text-decoration: none;
 }
 #main i{
  color:black;
 }
#main1{
  font-family: sans-serif;
  background-color: white;
   
}
#main{
  font-family: sans-serif;
  background-color: white;
 
}
#navbarpart4{
  display: none;
}
/* #something{
    overflow: hidden;
    position: fixed;
    width: 100%;
} */
/* #main{
    overflow: hidden;
 background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
} */

#navbarhomepage{
    display: flex;
    justify-content: space-evenly;
    padding: 0 5%;
    align-items: center;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
}
#navbarline1part1 ul{
    list-style: none;
}
#navbarline1part1 ul li{
    position: relative;
    float: left;
}
#navbarline1part2 img{
  width: 90%;
  height: 90%;
}

#navbarline1part1 ul li a{
    /* font-size: 20px; */
    font-weight: bold;
    padding: 20px;
    color: black;
    display: block;
}
#navbarpart3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#navbarpart3 > div:first-child{
    border-bottom: 1px solid rgb(192, 192, 192);
}
#navbarpart3 div > input{
    border: none;
    padding: 10px ;
    width: 200px;
    outline: none;  
}
#navbarpart3 div > i{
    font-size: 20px;
}
/* #cartofhomepage{
  position: relative;

} */
#cartofhomepage span{
    background-color: red;
    padding: 5%;
    border-radius:100%;
    align-items: center;
    margin-left: -40%;
    font-size: small;
    color: white;  
    /* position: fixed; */
}
#main1 p{
  cursor: pointer;
}


#navbarpart3 a i{
    font-size: 25px;
    margin: 17px;
    /* margin-bottom: -1px; */
}
#navbarpart3  img{
    width: 25px;
    height: 25px;
    margin: 15px;
}
#navbarpart3  img:last-child{
    width: 30px;
    height: 30px;
    margin: 15px;
}
#navbarpart3 > div > button{
    outline: none;  
    border: none;
    background-color: white;
    margin: 17px;
}
#navbarpart3 > div > button i{
    font-size: 20px;
}
#navbarline2part1 ul{
    list-style: none;
}
#navbarline2part1 ul li{
    position: relative;
    float: left;
}

#navbarline2part1 ul li a{
    /* font-size: 18px; */
    font-weight: bold;
    padding: 20px;
    color: black;
    display: block;
    margin: 5px 15px ;
}
#navbarline2part1{
    width: 80%;
    margin: auto;
}
/* #part1 ul {
position: absolute;
display: none;
} */
#LUXE{
    display: flex;
    justify-content: space-evenly;
    padding: 0 5%;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* border: 1px solid teal; */
    width: 1000px;   
}
/* #LUXE > div{
    border: 1px solid crimson;
    height: 400px;
} */
#luxepart1 ul li a{
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    color: rgb(119, 119, 119);
    display: block;
}
/* */
#luxepart1{
    padding: 10px 10%;
   margin-bottom: 10%; 
    background-color: white;
    
    
}
#luxepart1 ul li a:hover{
    border-left: 2px solid red;
    color: black;
}
#luxepart1 ul{
    list-style: none;
}
#luxepart2 ul li a{
    font-size: 17px;
    font-weight: bold;
    padding: 5px;
    color: black;
    display: block;
}
/* */
#luxepart2{
    /* padding: px; */
    /* width: 50%; */
    padding: 10px;
   margin-bottom: 10%;
    background-color: white;
    
    
}
#luxepart2 ul li a:hover{
    /* border-left: 2px solid red; */
    color: red;
}
/* #luxepart1 ul li a:hover{
    border-left: 2px solid red;
    color: black;
} */
#luxepart2 ul{
    list-style: none;
}
#luxepart3{
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}
#luxepart3 a img{
    width: 200px;
    height: 200px;
}
#luxepart3 a:last-child{
    text-align: center;
    padding: 10px;
    color: red;
}
#luxepart4{
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid salmon; */
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}
#luxepart4 a img{
    width: 200px;
    height: 200px;
}
#luxepart4 a:last-child{
    text-align: center;
    padding: 10px;
    color: red;
}
#luxeonhover{
    display: none;
}


#navbarline1part1 ul li:hover  #luxeonhover{
    display: block;
   position: absolute;
   z-index: 1;
   background-color: white;  
   
}



#bargains{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
    font-size: 18px;
    padding: 0 5%;
    width : 900px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}
#bargainspart1 {
    padding: 10px 10%;
   margin-bottom: 10%; 
    /* margin-left: -20%; */
    
}
#bargainspart2{
    margin-top: 1%;
    margin-bottom: 10%;
    /* margin-left: -20%; */

}
#bargainspart1 ul li{
    list-style: none;
    padding: 5px;
    font-weight: bold;  
}
#bargainspart1 ul li a{
    color: rgb(119, 119, 119);
    padding: 8px;
    display: block;
}
#bargainspart1 ul li a:hover{
    border-left: 2px solid red;
    color: black;
}
#bargainspart2 ul li{
    list-style: none;
    padding: 10px;
    font-weight: bold;  
}
#bargainspart2 ul li a{
    color: black;
    padding: 5px;
    display: block;
}
#bargainspart2 ul li a:hover{ 
    color: red;
}
#bargainspart3{
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin-left: -20%; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#bargainspart3 img{
    width: 200px;
    height: 200px;
    cursor: pointer;
}
#bargainspart3 a:first-child{
    padding: 5px;
    color: red;
}
#bargainsonhover{
    display: none;
}
#navbarline1part1 ul li:hover  #bargainsonhover{
    display: block;
   position: absolute;
   z-index: 1;
   background-color: white;  
   
}


#mensonhover{
    display: none;
}


#navbarline2part1 ul li:hover  #mensonhover{
    display: block;
   position: absolute;
   z-index: 1;
   background-color: white;  
   
}




#menshomepage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
    font-size: 18px;
    padding: 0 5%;
    width : 1000px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#menshomepage h4{
    font-size: 17px;
   padding: 5px;
   
}
#menshomepage h4:hover{
    color: red;
    cursor: pointer;
}
#womens p:hover {
  color: red;
  cursor: pointer;
}

#womens p {
  color: rgb(119, 119, 119);
  padding: 5px;
}
#menspart1 ul li a{
                
        font-size: 18px;
        font-weight: bold;
        padding: 8px;
        color: rgb(119, 119, 119);
        display: block;
        list-style: none;
}
#menspart1 ul li a:hover{
    border-left: 2px solid red;
    color: black;
    }
    #menspart1 ul{
        list-style: none;
    }
    #menspart1{
        padding: 10px 10%;
        margin-top: -13%;
    }
    #menspart2,#menspart3,#menspart4{
        margin: 0px 50px;
       
    }
    #menspart2{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      text-align: left;
      padding: 0px;
      gap: 5px;
    }
    #menspart2 > h4{
      padding: 0px;
    }
    #menspart3{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      text-align: left;
      padding: 0px;
      gap: 5px;
    }
    #menspart3 > h4{
      padding: 0px;
    }
    #menspart4{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      text-align: left;
      padding: 0px;
      gap: 5px;
    }
    #menspart4 > h4{
      padding: 0px;
    }


    #womens {
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 10;
        font-size: 18px;
        padding: 0 5%;
        width: 1000px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }
      #womenspart1 {
        padding: 10px 10%;
        margin-top: -10%;
        /* margin-left: -20%; */
      }
      #womenspart1 ul li {
        list-style: none;
        padding: 5px;
        font-weight: bold;
      }
      #womenspart1 ul li a {
        color: rgb(119, 119, 119);
        padding: 8px;
        display: block;
      }
      #womenspart1 ul li a:hover {
        border-left: 2px solid red;
        color: black;
      }
      #womens h4 {
        font-size: 17px;
        padding: 5px;
      }
      #womens h4:hover {
        color: red;
        cursor: pointer;
      }
      #womens p:hover {
        color: red;
        cursor: pointer;
      }

      #womens p {
        color: rgb(119, 119, 119);
        padding: 5px;
      }
      #womenspart4 {
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        text-align: center;
        /* margin-left: -20%; */
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }
      #womenspart4 img {
        width: 200px;
        height: 200px;
        cursor: pointer;
      }
      #womenspart4 a{
        padding: 5px;
        color: red;
      }
      #womenspart2,#womenspart3,#womenspart4{
        margin: 0px 50px;
       
    }
    
    #womenspart2{
        margin-top: 4%;
    }
    #womensparts3{
        margin-top: -65%;
    }
    #womenspart4{
        margin-top: -50%;
    }

      #womensonhover{
        display: none;
    }
    
    
    #navbarline2part1 ul li:hover  #womensonhover{
        display: block;
       position: absolute;
       z-index: 1;
       background-color: white;  
       
    }




    #beauty {
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 10;
        font-size: 18px;
        padding: 0 5%;
        width: 1000px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }
      #beautypart1 {
        padding: 10px 10%;
        /* margin-top: -10%; */
        /* margin-left: -20%; */
      }
      #beautypart1 ul li {
        list-style: none;
        padding: 5px;
        font-weight: bold;
      }
      #beautypart1 ul li a {
        color: rgb(119, 119, 119);
        padding: 2px;
        display: block;
      }
      #beautypart1 ul li a:hover {
        border-left: 2px solid red;
        color: black;
      }
      #beauty h4 {
        font-size: 17px;
        padding: 5px;
      }
      #beauty h4:hover {
        color: red;
        cursor: pointer;
      }
      #beauty p:hover {
        color: red;
        cursor: pointer;
      }

      #beauty p {
        color: rgb(119, 119, 119);
        padding: 5px;
      }
      #beautypart4 {
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        text-align: center;
        /* margin-left: -20%; */
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }
      #beautypart4 img {
        width: 200px;
        height: 200px;
        cursor: pointer;
      }
      #beautypart4 a{
        padding: 5px;
        color: red;
      }

      #beautypart2,#beautyparts3,#beautypart4{
        margin: 0px 50px;
       
    }
    #beautypart2,#beautypart4{
        margin-top: -12%;
    }
    #beautypart4{
        /* margin-top: -10%; */
        margin-top: -26%;
    }

     #beautyonhover{
        display: none;
    }
    
    
    #navbarline2part1 ul li:hover  #beautyonhover{
        display: block;
       position: absolute;
       z-index: 1;
       background-color: white;  
       
    }




    #watches {
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 10;
        font-size: 18px;
        padding: 0 5%;
        width: 1000px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }
      #watchespart1 {
        padding: 10px 10%;
        margin-bottom: 10%;
        margin-left: -10%;
        margin-top: -10%;
      }
      #watchespart1 ul li {
        list-style: none;
        padding: 5px;
        font-weight: bold;
      }
      #watchespart1 ul li a {
        color: rgb(119, 119, 119);
        padding: 3px;
        display: block;
      }
      #watchespart1 ul li a:hover {
        border-left: 2px solid red;
        color: black;
      }
      #watches h4 {
        font-size: 17px;
        padding: 5px;
      }
      #watches h4:hover {
        color: red;
        cursor: pointer;
      }
      #watches p:hover {
        color: red;
        cursor: pointer;
      }

      #watchesparts3{
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        text-align: center;
        /* margin-left: -20%; */
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }
      #watchesparts3 img {
        width: 200px;
        height: 200px;
        cursor: pointer;
      }
      #watchesparts3 a{
        padding: 5px;
        color: red;
      }
      #watchespart4 {
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        text-align: center;
        /* margin-left: -20%; */
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }
      #watchespart4 img {
        width: 200px;
        height: 200px;
        cursor: pointer;
      }
      #watchespart4 a{
        padding: 5px;
        color: red;
      }
      #watchespart2{
        /* margin-top: -10%; */
        margin-left: -8%;
      }
      #watchesparts3{
        margin:  5%;
        
    }
    #watchespart4{
        margin:  5%;
    }


      #watchesonhover{
        display: none;
    }
   
    
    #navbarline2part1 ul li:hover  #watchesonhover{
        display: block;
       position: absolute;
       z-index: 1;
       background-color: white;    
    }


    #Kids {
      display: flex;
      justify-content: space-around;
      align-items: center;
      z-index: 10;
      font-size: 18px;
      padding: 0 5%;
      width: 800px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    #Kidspart1 {
      padding: 10px 10%;
      margin-bottom: 10%;
      /* margin-left: -20%; */
    }
    #Kidspart1 ul li {
      list-style: none;
      padding: 5px;
      font-weight: bold;
    }
    #Kidspart1 ul li a {
      color: rgb(119, 119, 119);
      padding: 3px;
      display: block;
    }
    #Kidspart1 ul li a:hover {
      border-left: 2px solid red;
      color: black;
    }
    #Kids h4 {
      font-size: 17px;
      padding: 5px;
    }
    #Kids h4:hover {
      color: red;
      cursor: pointer;
    }
    #Kids p:hover {
      color: red;
      cursor: pointer;
    }
    #Kidspart2{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      text-align: left;
      padding: 0px;
      gap: 5px;
    }
    #Kidspart2 > h4{
      padding: 0px;
    }

   
    #Kidspart4 {
      margin-bottom: 10%;
      display: flex;
      flex-direction: column;
      text-align: center;
      /* margin-left: -20%; */
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      margin-left: 5%;
    }
    #Kidspart4 img {
      width: 200px;
      height: 200px;
      cursor: pointer;
    }
    #Kidspart4 a{
      padding: 5px;
      color: red;
    }
    #Kidspart2{
      margin-left: 5%;
      margin-top: -10%;
    }
    #Kidsparts3{
      margin-left: 5%;
      margin-top: -10%;
    }
   


    #Kidsonhover{
      display: none;
  }
 
  
  #navbarline2part1 ul li:hover  #Kidsonhover{
      display: block;
     position: absolute;
     z-index: 1;
     background-color: white;    
     /* left: 100px; */
    
  }


  #gifts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    font-size: 18px;
    padding: 0 5%;
    width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  #giftspart1 {
    padding: 10px 10%;
    margin-bottom: 10%;
    /* margin-left: -20%; */
  }
  #giftspart1 ul li {
    list-style: none;
    padding: 5px;
    font-weight: bold;
  }
  #giftspart1 ul li a {
    color: rgb(119, 119, 119);
    padding: 3px;
    display: block;
  }
  #giftspart1 ul li a:hover {
    border-left: 2px solid red;
    color: black;
  }
  #gifts h4 {
    font-size: 17px;
    padding: 5px;
  }
  #gifts h4:hover {
    color: red;
    cursor: pointer;
  }
  #gifts p:hover {
    color: red;
    cursor: pointer;
  }
  #giftspart3 {
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin-left: -20%; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  #giftspart3 img {
    width: 200px;
    height: 200px;
    cursor: pointer;
  }
  #giftspart3 a{
    padding: 5px;
    color: red;
  }

 
  #giftspart4 {
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin-left: -20%; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  #giftspart4 img {
    width: 200px;
    height: 200px;
    cursor: pointer;
  }
  #giftspart4 a{
    padding: 5px;
    color: red;
  }

  #giftsonhover{
    display: none;
}
#giftspart2{
 margin-right: 5%;
  margin-top: -10%;
}

#giftspart3{
  margin:  1%;
  
}
#giftspart4{
  margin:  1%;
}



#navbarline2part1 ul li:hover  #giftsonhover{
    display: block;
   position: absolute;
   z-index: 1;
   background-color: white;    
   /* left: 100px; */
   right: 100px;
}

#homestoponhover{
  display: none;
}
#navbarline2part1 ul li:hover  #homestoponhover{
  display: block;
 position: absolute;
 z-index: 1;
 background-color: white;    
 /* left: 100px; */
 right: 100px;
}


#homestop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  font-size: 18px;
  padding: 0 5%;
  width: 1000px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#homestoppart1 {
  padding: 10px 10%;
  margin-bottom: 10%;
  margin-top: -15%;
  /* margin-left: -20%; */
}
#homestoppart1 ul li {
  list-style: none;
  padding: 5px;
  font-weight: bold;
}
#homestoppart1 ul li a {
  color: rgb(119, 119, 119);
  padding: 3px;
  display: block;
}
#homestoppart1 ul li a:hover {
  border-left: 2px solid red;
  color: black;
}
#homestop h4 {
  font-size: 17px;
  padding: 5px;
}
#homestop h4:hover {
  color: red;
  cursor: pointer;
}
#homestop p:hover {
  color: red;
  cursor: pointer;
}
#homestop p {
  /* font-size: 17px; */
  padding: 3px;
}
#homestoppart2{
  margin: 5%;
  /* margin-top: -3%; */
}
#homestoppart3{
  margin: 5%;
  margin-top: -8%;
}
#homestoppart4{
  margin: 5%;
  margin-top: -38%;
}



#Brandsoftagonhover{
  display: none;
}
#navbarline2part1 ul li:hover  #Brandsoftagonhover{
  display: block;
 position: absolute;
 z-index: 1;
 background-color: white;    
 /* left: 100px; */
 right: 100px;
}


#Brandsoftag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  font-size: 18px;
  padding: 0 5%;
  width: 1000px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#Brandsoftagpart1 {
  padding: 10px 10%;
  margin-bottom: 10%;
  margin-left: -10%;
  
}
#Brandsoftagpart1 ul li {
  list-style: none;
  padding: 5px;
  font-weight: bold;
}
#Brandsoftagpart1 ul li a {
  color: rgb(119, 119, 119);
  padding: 3px;
  display: block;
}
#Brandsoftagpart1 ul li a:hover {
  border-left: 2px solid red;
  color: black;
}
#Brandsoftag h4 {
  font-size: 17px;
  padding: 5px;
}
#Brandsoftag h4:hover {
  color: red;
  cursor: pointer;
}
#Brandsoftag p:hover {
  color: red;
  cursor: pointer;
}

#Brandsoftagparts3{
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin-left: -20%; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#Brandsoftagparts3 img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
#Brandsoftagparts3 a{
  padding: 5px;
  color: red;
}
#Brandsoftagpart4 {
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin-left: -20%; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#Brandsoftagpart4 img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
#Brandsoftagpart4 a{
  padding: 5px;
  color: red;
}
#Brandsoftagpart2{
  /* margin-top: -10%; */
  margin-left: -8%;
}
#Brandsoftagparts3{
  margin:  5%;
  
}
#Brandsoftagpart4{
  margin:  5%;
}







  #hamburger{
    display: none;
    cursor: pointer;
  }
  .bars{
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }

  @media(max-width:767px) {
  #hamburger{
    display: block;
    margin: 10px;
    
   
  }
  #hamburger.active .bar:nth-child(2)
  {
    opacity: 0;
  }
  #hamburger.active .bar:nth-child(1)
  {
    transform: translateY(8px) rotate(45deg);
  }
  #hamburger.active .bar:nth-child(3)
  {
    transform: translateY(-8px) rotate(-45deg);
  }
  #navbarline1part1  ul{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: white !important;
    
  }
  #navbarline1part1  ul li a{
    /* margin: 16px 0; */
    color: black;
  }
  #navbarline1part1  ul.active{
    left: 0;
    
  }
  #navbarline2part1  ul{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    margin-top: 170px;
    background-color: white !important;
  }
  #navbarline2part1  ul li{
    /* margin: 2px 0; */
  }
  #navbarline2part1  ul.active{
    left: 0;
    
  }
  /* #searchfunction{
    display: absolute;
    top: 70px;
    gap: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;


  }
   */

   #searchfunction{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    transition: 0.3s;
    background-color: white !important;
    
  }
 #navbarpart3 > div{
  border: none;
 }
  #searchfunction.active{
    left: 0; 
    
  }
 
































  }

  @media(max-width:1024px) {
    #hamburger{
      display: block;
      margin: 10px;
     
    }
    #hamburger.active .bar:nth-child(2)
    {
      opacity: 0;
    }
    #hamburger.active .bar:nth-child(1)
    {
      transform: translateY(8px) rotate(45deg);
    }
    #hamburger.active .bar:nth-child(3)
    {
      transform: translateY(-8px) rotate(-45deg);
    }
    #navbarline1part1  ul{
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      background-color: white !important;
    }
    #navbarline1part1  ul li{
      /* margin: 16px 0; */
    }
    #navbarline1part1  ul.active{
      left: 0;
      
    }
    #navbarline2part1  ul{
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      margin-top: 170px;
      background-color: white !important;
    }
    #navbarline2part1  ul li{
      /* margin: 2px 0; */
    }
    #navbarline2part1  ul.active{
      left: 0;
      
    }
    #searchfunction{
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
      align-items: center;
      transition: 0.3s;
      background-color: white !important;
      
    }
   #navbarpart3 > div{
    border: none;
   }
    #searchfunction.active{
      left: 0; 
      
    }
    
    }
    @media(max-width:1524px) {
      #hamburger{
        display: block;
        margin: 10px;
       
      }
      #hamburger.active .bar:nth-child(2)
      {
        opacity: 0;
      }
      #hamburger.active .bar:nth-child(1)
      {
        transform: translateY(8px) rotate(45deg);
      }
      #hamburger.active .bar:nth-child(3)
      {
        transform: translateY(-8px) rotate(-45deg);
      }
      #navbarline1part1  ul{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: white !important;
      }
      #navbarline1part1  ul li{
        /* margin: 16px 0; */
      }
      #navbarline1part1  ul.active{
        left: 0;
        
      }
      #navbarline2part1  ul{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        margin-top: 170px;
        background-color: white !important;
      }
      #navbarline2part1  ul li{
        /* margin: 2px 0; */
      }
      #navbarline2part1  ul.active{
        left: 0;
        
      }
      /* #searchfunction{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
        transition: 0.3s;
        background-color: white !important;
        
      }
     #navbarpart3 > div{
      border: none;
     }
      #searchfunction.active{
        left: 0; 
        
      } */
      
      }


      #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
       left: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: black;
        color: white;
        cursor: pointer;
        padding: 20px;
        border-radius: 50%;
      }
      #myBtn i{
        color: white;
      }